*{
    margin: 0px;
    padding: 0px;
}

:root {
 
    --main-background-color: #EFBD91;
    --main-background-color-opaque: rgb(239, 189, 145, .7);
    --main-color: #7D99E8;
}

body {
    color: var(--main-color);
    font-size: 10px;
    background-image: url(./images/summer.jpg);
    /* background-repeat: no-repeat; */
    /* background-position: cover; */
    background-size: cover;
}
/* contains nav bar and anchor links */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--main-color) solid .2em;
    margin-bottom: 2em;
}

h1 {
    font-size: 3em;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    font-size: 1.5em;
}

li {
    margin: 1em;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

 figure {
     /* background-image: url(../images/paint.jpg); */
     height: 200px;
     width: 100%;
     display: flex;
 } 
/* class of self portait */
.portrait {
     width: 15%;
     object-fit: contain;
     z-index: -100;
     margin-top: .5%; 
     margin-left: .5%;
 } 

main {
     display: flex;
     width: 100%;
     flex-direction: column;
 }

.about-me {
     display: flex;
     /* flex: 1 0 100%; */
     height: fit-content;
 }

 /* the aside is where the about me/my work text is */
aside {
     flex: 1 0 10%; /* need to adjust the width on this one i think */
     border-right: black 2px dashed;
     font-size: 4em;
     padding: .5em;
     text-align: right;
 }

 /* element that houses the <p> tag */
.about-me article {
    flex: 1 0 80%;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

 p {
    font-size: 1.5em;
    margin: 1em;
 }
 /* class for section element which houses all cards and the aside */
.my-work {
    display: flex;
    width: 100%;
    justify-content: space-between;
} 
/* displays 'about me' and 'my work' above their perspective sections  */
.tablet-h3 {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    padding: .5em;
 }

/* class for section that houses just the cards (not the aside) */
 .cards {
     display: flex;
     flex: 1 1 80%;
     flex-wrap: wrap;
     justify-content: space-evenly;
 }
/* layout for each individual card */
 .card {
     display: flex;
     flex: 1 0 40%;
     height: 250px;
     margin: 3em;
     /* background-image: url(../images/clouds.jpg); */
     transition: all 1.5s ease-in-out;
     justify-content: center;
     align-items: center;
     color: black;
 }

 .code-quiz {
     color: #333;
 }

 .weather-dashboard {
     color: #000080;
 }

 .blur {
    filter: blur(2px);
    -webkit-filter: blur(2px);
 }

 .white {
    color: white;
 }
/* layout for large banner card. needs to come after .card to overwrite flex element, though it'll probably be simpler for it to not share a class with others and have a more unique set of attributes */
 .large-card {
     height: 250px;
     flex: 1 0 70%;
 }
/* this effects the images on the cards nested in <a> tags */
a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    position: absolute;
    font-size: 3em;
    font-family: monospace;
    text-align: center;
    margin: 1em;
}

 /* the class for side description of project */
 .description {
    display: none;
    background-color: rgb(125, 153, 232, 0.8);
    color: var(--main-background-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    transition: all 1.5s ease-in;
    font-size: 1.5em;
 }

.footer {
    border-top: 2px dashed black;
    display: flex;
    width: 100%;
    height: 150px;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
}
/* increases card size/gives it a box shadow upon hover */
 .card:hover {
    flex-grow: 5; /* makes it so the card opposite it in the row shrinks as it grows */
    transform: scale(1.05); 
    box-shadow: inset 0px 0px 20px var(--main-color), 0 0 15px var(--main-background-color);
 }
/* gives parameters to the 'description' box when i hover over the card */
 .card:hover .description {
    box-shadow: inset 0px 0px 4px var(--main-color), 0 0 15px var(--main-background-color);
    margin: 0 125% 0 0;
    height: fit-content;
    width: 25%;
    position: absolute; /* without this the paramaters of the box become not what we want */
    display: inline-block; /* it cannot be seen without this apparently */
 }

 .large-card:hover .description {
     margin: 0 110% 0 0;
     width: 13%;
 }



 /* media query for tablets/smaller screens */
 @media screen and (max-width: 991px) {

    aside {
        display: none;
    }

    .tablet-h3 {
        display: inline-block;
    }

    .portrait {
        width: 25%;
    }

    .card:hover .description {
        box-shadow: inset 0px 0px 4px var(--main-color), 0 0 15px var(--main-background-color);
        margin: 0 0 50% 0;
        height: fit-content;
        width: 80%;
        position: absolute;
        display: inline-block;
     }

     .large-card:hover .description {
         margin: 0 0 30% 0;
     }
 }
 
 /* media query for mobile/tablet */
 @media screen and (max-width: 767px){
    header {
        flex-wrap: wrap;
        height: fit-content;
    }

    .portrait {
        width: 150%;
        height: 200px;
        object-fit: cover;
    }

    footer {
        flex-wrap: wrap;
        height: fit-content;
    }

    footer a {
        margin: .5em;
    }

    .description {
        box-shadow: inset 0px 0px 0px var(--main-color), 0 0 0 var(--main-background-color);
        margin: 25% 0 0 0;
        height: fit-content;
        width: 80%;
        position: absolute;
        display: inline-block;
        border: 0px;
        text-align: center;
    }

    .card {
        flex: 1 0 85%;
    }

    .card:hover {
        transform: scale(1); 
     }

    h2 {
        margin-bottom: 25%;
        font-size: 2.5em;
    }

 }

/* things get a little messy at this size with some of the design, so redesigned those aspects for mobile */
 @media screen and (max-width: 375px) {
    h2 {
        margin-bottom: 55%;
    }
 }